/*************************************************
** 1. Typography
*************************************************/
* {
  box-sizing: border-box;
}
html, .root {
  font-size: 16px;
  line-height: 26px;
}
body, .article {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.625em;
  margin: auto;
}
h1, .h1 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 4.25em;
  line-height: 1.14705882em;
  margin-top: 0.38235294em;
  margin-bottom: 0.76470588em;
}
h2, .h2 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 2.625em;
  line-height: 1.23809524em;
  margin-top: 0.61904762em;
  margin-bottom: 0.61904762em;
}
h3, .h3 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1.625em;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 0;
}
h4, .h4 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.625em;
  margin-top: 1.625em;
  margin-bottom: 0;
}
h5, .h5 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.625em;
  margin-top: 1.625em;
  margin-bottom: 0;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 1.625em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

/*************************************************
** 2. General
*************************************************/
.wrapper{
  max-width: 1280px;
}
/*************************************************
** 3. Header
*************************************************/
header{
  background-color: #2C3E50;
  /*height: 78px;*/
  padding: 0.8125rem 1rem;
}
header::after{
  clear: both;
  content: '';
  display: table;
}
header a:nth-child(2){
  padding-left: 0;
}
header .pure-menu-link{
  padding: 0;
}
header .pure-menu-link:hover{
  background-color: transparent;
}
header a .brand-logo{
  background-color: #3498DB;
  border-radius: 50%;
  color: #ECF0F1;
  font-size: 26px;
  height: 52px;
  line-height: 3.25rem;
  text-align: center;
  width: 52px;
}
header .brand-name{
  margin-left: 0.75rem;
}
header a .brand .h2 {
  color: #ECF0F1;
  margin-top: 0;
  margin-bottom: 0;
}
header .pure-menu-list{
  float: right;
}
header .pure-menu-list .pure-menu-item{
  margin-left: 0.5rem;
  padding: 0
}
header .pure-menu-list .pure-menu-item .pure-menu-link{
  background-color: #2980B9;
  border-radius: 3px;
  color: #ECF0F1;
  font-size: 1.625rem;
  /*height: 2.625rem;*/
  line-height: 1.625rem;
  /*padding: 5px 1.625rem;*/
  padding: 0.8125rem 0;
  text-transform: uppercase;
  text-align: center;
  width: 7.5rem;
}
/*************************************************
** 4. Content
*************************************************/
section#main{
  height: calc(100vh - 78px);
  position: relative;
  width: 100%;
}

iframe#canvas{
  border: none;
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 71%;
}
div#code-panel-container{
  box-sizing: border-box;
  background-color: #313131;
  float: right;
  padding: 1.625rem;
  position: absolute;
  bottom: 0px;
  right: 0px;
  top: 0px;
  width: 29%;
}
div.close-code-panel a{
  background-color: #E74C3C;
  border-radius: 50%;
  color: #ECF0F1;
  display: block;
  height: 26px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 0.5em;
  left: 0.5em;
  width: 26px;
  z-index: 99;
}
textarea#code{
  background-color: #3E3E3E;
  min-height: 100% !important;
  overflow-y: scroll;
  resize: none;
  white-space: normal;
  word-wrap: normal;
}
