/*
** Color pallete - Flat UI
** #2C3E50 - Charcoal
** #E74C3C - Carmine pink
** #ECF0F1 - Anti-flash white
** #3498DB - Bleu de France
** #2980B9 - Tufts blue
** #E7C83C
*/

/*************************************************
** 1. Typography
*************************************************/
* {
  box-sizing: border-box;
}
html, .root {
  font-size: 16px;
  line-height: 26px;
}
body, .article {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.625em;
  margin: auto;
}
h1, .h1 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 4.25em;
  line-height: 1.14705882em;
  margin-top: 0.38235294em;
  margin-bottom: 0.76470588em;
}
h2, .h2 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 2.625em;
  line-height: 1.23809524em;
  margin-top: 0.61904762em;
  margin-bottom: 0.61904762em;
}
h3, .h3 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1.625em;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 0;
}
h4, .h4 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.625em;
  margin-top: 1.625em;
  margin-bottom: 0;
}
h5, .h5 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.625em;
  margin-top: 1.625em;
  margin-bottom: 0;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 1.625em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

/*************************************************
** 2. General
*************************************************/
:focus{
  outline: -webkit-focus-ring-color auto 3px;
}
.wrapper{
  max-width: 1280px;
}
/*************************************************
** 3. Header
*************************************************/
header{
  background-color: #2C3E50;
  padding: 0.8125rem 1rem;
}
header::after{
  clear: both;
  content: '';
  display: table;
}
header a:nth-child(2){
  padding-left: 0;
}
header .pure-menu-link{
  padding: 0;
}
header .pure-menu-link:hover,
header .pure-menu-link:focus{
  background-color: transparent;
}
header a .brand-logo{
  background-color: #3498DB;
  border-radius: 50%;
  color: #ECF0F1;
  font-size: 1rem;
  height: 42px;
  line-height: 2.5rem;
  text-align: center;
  width: 42px;
}
header .brand-name{
  margin-left: 0.75rem;
}
header a .brand .h3 {
  color: #ECF0F1;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0;
}
header .pure-menu-list{
  float: right;
}
header .pure-menu-list .pure-menu-item{
  margin-left: 0.5rem;
  padding: 0
}
header .pure-menu-list .pure-menu-item .pure-menu-link{
  display: inline-block;
  background-color: #2980B9;
  border-radius: 50%;
  color: #ECF0F1;
  font-size: 1.618rem;
  height: 42px;
  text-transform: uppercase;
  text-align: center;
  width: 42px;
}
header .pure-menu-list .pure-menu-item .pure-menu-link span.fa{
  line-height: 2.7rem;
}
header .pure-menu-list .pure-menu-item:nth-child(3) .pure-menu-link span.icon-javascript{
  color: #ECF0F1;
  display: inline-block;
  font-size: 1.9rem;
  font-weight: bolder;
  line-height: 2.7rem;
  margin-left: 0.4rem;
}
/*************************************************
** 4. Content
*************************************************/
section.main{
  height: calc(100vh - 68px);
  position: relative;
  width: 100%;
}

.main .canvas-panel{
  background-color: #ECF0F1;
  display: inline-block;
  height: 100%;
  max-width: 70%;
  min-width: 30%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
}
.main .canvas{
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.main .panel-wrap{
  background-color: #272822;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  max-width: 70%;
  min-width: 30%;
}

/*.code-panel{*/
.main .panel{
  background-color: #313131;
  color: #ECF0F1;
  display: block;
  width: 100%;
}
.main .panel.active{
  display: block;
}

.main .panel.inactive{
  display: none;
}

.main .panel .panel-title{
  display: inline-block;
  padding: 0.25rem 0.5rem;
}

.main .panel .close-code-panel a{
  background-color: #E74C3C;
  color: #ECF0F1;
  display: block;
  height: 26px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 0;
  right: 0;
  width: 26px;
  z-index: 99;
}

.CodeMirror-wrap{
  padding-right: 8px;
}
